<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Python review lab

---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Miscellaneous-problems" data-toc-modified-id="Miscellaneous-problems-1">Miscellaneous problems</a></span><ul class="toc-item"><li><span><a href="#1.-What-are-the-types-of-the-following-variables?" data-toc-modified-id="1.-What-are-the-types-of-the-following-variables?-1.1">1. What are the types of the following variables?</a></span></li><li><span><a href="#2.-What-is-the-difference-between-a-&quot;mutable&quot;-and-an-&quot;immutable&quot;-object?" data-toc-modified-id="2.-What-is-the-difference-between-a-&quot;mutable&quot;-and-an-&quot;immutable&quot;-object?-1.2">2. What is the difference between a "mutable" and an "immutable" object?</a></span></li><li><span><a href="#3.-Print-the-student_names-list." data-toc-modified-id="3.-Print-the-student_names-list.-1.3">3. Print the <code>student_names</code> list.</a></span></li><li><span><a href="#4.-Print-the-names-of-the-first-and-last-students-in-the-list." data-toc-modified-id="4.-Print-the-names-of-the-first-and-last-students-in-the-list.-1.4">4. Print the names of the first and last students in the list.</a></span></li><li><span><a href="#5.-Print-the-first-5-names-in-the-student-list." data-toc-modified-id="5.-Print-the-first-5-names-in-the-student-list.-1.5">5. Print the first 5 names in the student list.</a></span></li><li><span><a href="#6.-Combine-the-9th-and-10th-student-names-into-a-single-string,-separated-by-a-space,-and-assign-to-a-variable." data-toc-modified-id="6.-Combine-the-9th-and-10th-student-names-into-a-single-string,-separated-by-a-space,-and-assign-to-a-variable.-1.6">6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.</a></span></li><li><span><a href="#7.-Append-an-animal-to-the-list-of-animals." data-toc-modified-id="7.-Append-an-animal-to-the-list-of-animals.-1.7">7. Append an animal to the list of animals.</a></span></li><li><span><a href="#8.-Print-the-length-of-the-animals-list." data-toc-modified-id="8.-Print-the-length-of-the-animals-list.-1.8">8. Print the length of the animals list.</a></span></li><li><span><a href="#9.-Show-two-different-ways-to-combine-the-animals-list-and-numbers-list." data-toc-modified-id="9.-Show-two-different-ways-to-combine-the-animals-list-and-numbers-list.-1.9">9. Show two different ways to combine the animals list and numbers list.</a></span></li><li><span><a href="#10.-Remove-my-name-from-the-list-and-insert-your-own-in-the-same-place." data-toc-modified-id="10.-Remove-my-name-from-the-list-and-insert-your-own-in-the-same-place.-1.10">10. Remove my name from the list and insert your own in the same place.</a></span></li><li><span><a href="#11.-Find-the-index-of-'a'-in-the--mix--list." data-toc-modified-id="11.-Find-the-index-of-'a'-in-the--mix--list.-1.11">11. Find the index of <code>'a'</code> in the  <code>mix</code>  list.</a></span></li><li><span><a href="#12.-Reverse-the-mix-list." data-toc-modified-id="12.-Reverse-the-mix-list.-1.12">12. Reverse the <code>mix</code> list.</a></span></li><li><span><a href="#13.-Remove-the-last-element-of-mix-and-assign-it-to-a-variable." data-toc-modified-id="13.-Remove-the-last-element-of-mix-and-assign-it-to-a-variable.-1.13">13. Remove the last element of <code>mix</code> and assign it to a variable.</a></span></li><li><span><a href="#14.-Count-the-number-of-times-0-appears-in-the-following-list." data-toc-modified-id="14.-Count-the-number-of-times-0-appears-in-the-following-list.-1.14">14. Count the number of times <code>0</code> appears in the following list.</a></span></li><li><span><a href="#15.-Try-to-convert-elements-in-a-list-to-floats." data-toc-modified-id="15.-Try-to-convert-elements-in-a-list-to-floats.-1.15">15. Try to convert elements in a list to floats.</a></span></li><li><span><a href="#16.-While-loops-and-strings." data-toc-modified-id="16.-While-loops-and-strings.-1.16">16. While loops and strings.</a></span></li></ul></li></ul></div>

## Miscellaneous problems

---

### 1. What are the types of the following variables?

In [ ]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'Richard':'Skeggs', 'Christoph':'Rahmede'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [4]:
a=<class 'int'> or interger
b=<class 'float'> or float
c=<class 'list'> or list
d=<class 'dict'> or dictionary
e=<class 'tuple'> or immutable list
f=<class 'dict'> or dictionary
g=<class 'bool'> or boolean
h=<class 'bool'> or boolean
i=<class 'str'> or string

SyntaxError: invalid syntax (3991544903.py, line 1)

---

### 2. What is the difference between a "mutable" and an "immutable" object?

Answer in one sentence.

In [5]:
a mutable object can be modified after it's created, while an immutable object cannot be changed once it is set.

SyntaxError: unterminated string literal (detected at line 1) (248335343.py, line 1)

---

### 3. Print the `student_names` list.

In [ ]:
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

In [7]:
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']
print(student_names)

['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10']

---

### 4. Print the names of the first and last students in the list.

In [11]:
print(student_names[0] , (student_names)[-1])

s1 s10

---

### 5. Print the first 5 names in the student list.

In [14]:
print(student_names[:5])

['s1', 's2', 's3', 's4', 's5']

---

### 6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.

In [23]:
combined_names = student_names[8] + ' ' + student_names[9]
print(combined_names)

TypeError: 'str' object is not callable

---

### 7. Append an animal to the list of animals.

In [20]:
animals = ['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle']

In [22]:
animals = ['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle']
animals.append('lion')
print(animals)

TypeError: 'str' object is not callable

---

### 8. Print the length of the animals list.

In [24]:
print(len(animals))

TypeError: 'str' object is not callable

---

### 9. Show two different ways to combine the animals list and numbers list.

In [ ]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [ ]:
combined_list = animals + numbers

In [25]:
print(combined_list)

NameError: name 'combined_list' is not defined

---

### 10. Remove Kian from the list and insert your own in the same place.

In [ ]:
names = ['doug', 'billy', 'christoph', 'kian', 'sam']

In [27]:
names = ['doug', 'billy', 'christoph', 'kian', 'sam']
index = names.index('kian')

In [28]:
names.pop(index)

'kian'

In [29]:
names.insert(index, 'chrissy')

In [30]:
print(names)

TypeError: 'str' object is not callable

### 11. Find the index of `'a'` in the  `mix`  list.

In [ ]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [31]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]
index_of_a = mix.index('a')
print(index_of_a)

TypeError: 'str' object is not callable

---

### 12. Reverse the `mix` list.

In [32]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]
mix.reverse()
print(mix)

TypeError: 'str' object is not callable

---

### 13. Remove the last element of `mix` and assign it to a variable.

In [33]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]
last_element = mix.pop()
print(last_element)
print(mix)

TypeError: 'str' object is not callable

---

### 14. Count the number of times `0` appears in the following list.

In [37]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]
count_zeros = binary.count(0)
print(count_zeros)

TypeError: 'str' object is not callable

---

### 15. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

> Hint: Use a try-except statement, see [here](http://www.pythonforbeginners.com/error-handling/python-try-and-except) or [here](https://www.programiz.com/python-programming/exception-handling).

In [ ]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [40]:
converted_floats = []
for item in corrupted:
    try:
        converted_floats.append(float(item))
    except ValueError:
        pass
print(converted_floats)

NameError: name 'corrupted' is not defined

---

### 16. While loops and strings.

Iterate over the following sentence over and over again, counting the number of vowels in the sentence until you have counted 1 million vowels. Print out the number of iterations it took to reach one million.

In [ ]:
sentence = "IF I PRACTICE A LOT I WILL SOON BECOME A VERY GOOD DATA ANALYST"
vowels ="AEIOUaeiou"
vowel_count = 0
iterations = 0

In [ ]:
while vowel_count <1000000
for char in sentence:
    if char in vowels:
        vowel_count +1
        iterations += 1

In [41]:
print(f"it took {iterations} iterations to count 1 million vowels.")

NameError: name 'iterations' is not defined